goos: linux

goarch: amd64

pkg: github.com/drenk83/grokking_algorithms/1_introduction_to_algorithms

cpu: Intel(R) Core(TM) Ultra 9 285H

Benchmark_binarySearch_1-16                 	29207134	        39.75 ns/op

Benchmark_binarySearch_2-16                 	20505595	        57.17 ns/op

Benchmark_binarySearch_3-16                 	18643320	        62.85 ns/op

Benchmark_binarySearch_4-16                 	14161056	        71.93 ns/op

Benchmark_binarySearch_withBitShift_1-16    	46151738	        25.14 ns/op

Benchmark_binarySearch_withBitShift_2-16    	33030756	        34.35 ns/op

Benchmark_binarySearch_withBitShift_3-16    	30217981	        39.12 ns/op

Benchmark_binarySearch_withBitShift_4-16    	25464098	        46.95 ns/op